{
  "extends": "google",

  "env": {
    "browser": true
  },

  "parserOptions": {
    "ecmaVersion": 5
  },

  "rules": {
    "no-multiple-empty-lines": ["error", {"max": 2}],
    "curly": ["error", "multi"],
    "quotes": ["error", "single"]
  }
}
